/* #58BAC7-60%-fill
#5882C7-30%-header footer
 #58C79D-10% buttons */


 body{
    background: #58BAC7
 }

*{
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    
}

.wrapper{
        
}

/* top header  */

header{
    background:rgba(155, 151, 151, 0.438) ;
    color: white;
    height: 2rem;
    position: sticky;
    top:0;
      
}

.global-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.3rem;
}

.left{
    padding-left: 4rem;
}

.left ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.left ul li{
    padding-left: 3em;
}

.left ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}

.gap{
    padding-left: 4px;
}

.gap1{
    padding-left: 7px;
}

.socials{
    padding-right: 8rem;
}
.socials a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 1em;  
}

.contact{
    margin-right: 3rem;
    font-weight: 500;
}

/* Navbar */

.container{
    width: 80%;
    margin: auto;
     
    
}

nav{
    background: #5882C7;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    position: sticky;
    top:0;

}

.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.top-menu ul{
    display: flex;
    list-style: none;
    line-height: 3rem;

}

.top-menu ul li{
    margin-left: 1.5rem;
    transition: color 1.5s;
    transition: transform 1s;

}

.top-menu ul li a{
color: white;
text-decoration: none;
}

.top-menu ul li a:hover{
    color: #041810;
    cursor: pointer;
    font-weight: bolder;
    transform: scale(1.1);
}

.logo{
    background: linear-gradient(rgb(116, 231, 116),rgb(121, 153, 214));
    font-weight: bolder;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.logo:hover{
    color: #041810;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(rgb(85, 199, 85),rgb(223, 150, 102));

}

/* hero section */
.video{
    height: 50vh;
    position: relative;
}

video{
    width: 100%;
    height: 150%;
    object-fit: cover;
}


.video > div{

    position: absolute;
    top: 13rem;
    left: 25rem;
    color: white;
    padding: 1rem;
    border-radius: 10px;
   
}

.video > div h1{
    font-size: 10vh;
    font-weight: bolder;
}

/* content section */
.content{
    margin-top: 50vh;
    height: 35vh;
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.content h1{
    font-size: 15vh;
    font-weight: lighter;
    
}

.title{
    background: rgba(0, 0, 0, 0.507);
    color: white;
    padding: 1rem 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    opacity: 75%;
    backdrop-filter: blur(20px);
    border-radius: 20px;

}

/* women image section  */
.img1{
    height: 70vh;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    background: url(media/womensh.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* women product section */
.product h1{
    font-size: 5vh;
    padding-bottom: 4px;
}

hr{
    width: 80%;

}
.card-section{
    margin-top: 30px;
    background-color: white;
    padding: 20px 0;
}

.card-list{
    display: flex;
    justify-content: space-between;
    margin: 20px

}

.card{
    width: 350px;
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 5px 10px 5px;
    margin: 10px;
    box-shadow: -5px 5px 10px 5px rgb(54, 90, 90);
    
}

.card1{
    width: 350px;
    min-height: 300px;
    background-color: rgba(235, 233, 233, 0.753);
    border-radius: 15px;
    padding: 5px 5px 10px 5px;
    margin: 10px;
    box-shadow: -5px 5px 10px 5px rgb(54, 90, 90);
    display: flex;
    align-items: center;
}

.card img{
    border-radius: 15px;
}

.btn-card{
    background-color: #04925cb4;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.btn-card:hover{
    cursor: pointer;
}

.btn-card1{
    background-color: #04925cb4;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    height: 40rem;
    margin-top: 50px;
}

.btn-card:hover{
    cursor: pointer;
}

.container1 h4{
    display: flex;
    justify-content: center;
}

/* men image section  */
.img2{
    height: 70vh;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    background: url(media/mensh.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* shop section */
.shop-section{
    width: 80%;
    
  


}
.shop{
    height: 50vh;
    display: flex;
    
    
}

.men{
    margin: 50px;
    position: relative;
    
}

.sm{
    color: white;
    position: absolute;
    top: 3rem;
    left: 22rem;
}

.sm h4{
    font-size: 10rem;
}


.men img{
    border-radius: 2px;
    
}

.women{
    margin: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.women img{
    border-radius: 2px;
    
}

.sw{
    color: white;
    position: absolute;
    top: 3rem;
    left: 2rem;
}

.sw h4{
    font-size: 10rem;
}

.btn-card1{
    background-color: #04925cb4;
    font-size: 30px;
    border-radius: 25px;
    border-color: white;
    width: 10rem;
    height: 3rem;
    margin-top: 10px;
    margin-left: 80px;

}


/* * contact us */
 

.image{
    background: url(media/contact.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.image > div{
    color: rgb(8, 8, 8);
    padding: 1rem;
    border-radius: 10px;
   
}


.container4{
    margin-top: -7rem;
}
/* Style inputs with type="text", select elements and textareas */
.container4 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }
  
  /* Style the submit button with a specific background color etc */
  .submit{
    background-color: #04925cb4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    width: 20%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .submit:hover {
    background-color: #04925cb4;
    font-weight: bold;
  }
  
  /* Add a background color and some padding around the form */
  .container4 {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 7rem;

  }


  /* login */

  .loginbg{
    background: url(media/loginbg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container5{
    margin-top: ;
    
}
/* Style inputs with type="text", select elements and textareas */
.container5 input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid rgb(134, 131, 131); 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 

  }
  
  /* Style the submit button with a specific background color etc */
  .submit{
    background-color: #04925cb4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    width: 20%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .submit:hover {
    background-color: #04925cb4;
    font-weight: bold;
  }
  
  /* Add a background color and some padding around the form */
  .container5 {
    width: 50%;
    border-radius: 5px;
    background:rgba(122, 121, 121, 0.575);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 5rem;

  }

.register{
  margin-top:10px;
}

.create{
  background-color: #04925cb4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    width: 30%;
    opacity: 100%;
}

.container5 h1{
    font-size:4rem;
    color:white;
    margin-bottom:10px;
    text-align:center;
  }


/* registration */

  .registrationbg{
    background: url(https://images.unsplash.com/photo-1607522370275-f14206abe5d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1121&q=80) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
/*     justify-content: center; */
    height: 115vh;
  }
  
 

.container6 label {
  font-weight:bold;
}
/* Style inputs with type="text", select elements and textareas */
.container6 input, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid rgb(134, 131, 131); 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  

  }
  
  /* Style the submit button with a specific background color etc */
  .submit{
    background-color: #04925cb4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    width: 20%;
    opacity: 100%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .submit:hover {
    background-color: #04925cb4;
    font-weight: bold;
  }
  
  /* Add a background color and some padding around the form */
  .container6 {
    width: 50%;
    border-radius: 5px;
    background:rgba(122, 121, 121, 0.575);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 8rem;

  }

.container6 h1{
  font-size:4rem;
  color:white;
  margin-bottom:10px;
  text-align:center;
}

/* cart section */

.container7{
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-top: 3rem;
    margin-bottom: -20rem;
    background: white;

}

.container7 h2{
    font-size: larger;
}
.left-cart{
    width: 40%;
    height: 60vh;
    border-radius: 5px;
    background:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
    margin-top: 1.5rem;
}



.left-cart p{
    margin-top: 1rem;
}

.left-cart hr{
    border-top: 2px dotted black;
}

.account{
    margin-top: 2rem;
    
}

.submit1{
    background-color: #04925cb4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    width: 30%;
    margin-top: 1rem;
  }


  .right-cart{
    width: 40%;
    height: 60vh;
    border-radius: 5px;
    background:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 1rem;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
  .submit1:hover {
    background-color: #04925cb4;
    font-weight: bold;
  }


/* suscribe section */

.subscription{
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(122, 121, 121, 0.575);
    width: 80vh;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 30rem;
}

.suscribe {
    background-color: #04925cb4;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.suscribe:hover{
    cursor: pointer;
}


/* footer */
footer{
    background:#5882C7;
    padding: 3rem;
    margin-top: 23rem;
    color: white;
    text-align: center;
}

.footer1{
    margin-top: 0;
}


/* laptop screen */
@media (max-width:1224px){
    .header{
        display: none;
    }


.footer{
        margin-top: auto;
    }

    .subscription{
        margin: auto;
        margin-top: 10px;
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    form, input{
        width: 100%;
    }
    
    .suscribe {
            width: 100%;
        }
    
        .container5{
            margin: auto;
        }

        .submit {

            width: 100%;
        }


        .shop-section{
            display:none;
        }

    


}

/* mobile screen */
/* max width */
@media (0 <= width <=768px ){
    
    .wrapper{
        margin-right: rem;
    }
    
    .header{
        display: none;
    }

    .nav{
        margin-left: -45px;
        
    }

    .video{
        width: 100%;
    }

    .top-menu ul{
        margin-left: -8px;
    }

    .video > div h1{
        margin-left: -4.5em;
        font-size: 9vh;
    }

    .content h1{
        margin-top: -1.5em;
        font-size: 8vh;
        margin-left:0.5em;
    }

    .title{
        width: 100%;
        font-size: 2rem;
    }

    

    .product{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;

    }

    .card-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .shop-section{
        display:none;
    }

    .footer{
        margin-top: auto;
    }

    .subscription{
        margin: auto;
        margin-top: 10px;
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    form, input{
        width: 100%;
    }
    
    .suscribe {
            width: 100%;
        }
    
        .container5{
            margin: auto;
        }

        .submit {

            width: 100%;
        }

    
    

    
}
